$lightModeBg: hsl(0, 0%, 98%);
$lightModeText: hsl(200, 15%, 8%);
$darkModeBg: hsl(207, 26%, 17%);
$darkModeText: hsl(0, 0%, 100%);
$shadowLight: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$shadowDark: rgba(245, 245, 245, 0.2) 0px 0px 8px;
$radius: 0.5rem;