@use 'shortcuts' as *;


.controlsContainer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   .select {
      width: 100%;
      border-radius: $radius;
      border: none;

      * {
         color: var(--colors-text);
      }

      > * {
         box-shadow: var(--shadow);
         border: none;
      }

      div[id] {
         background: var(--colors-bg);
      }
   }
}

.inputContainer {
   width: 100%;
   display: flex;
   align-items: center;
   border-radius: $radius;
   padding-left: 1rem;
   margin-bottom: 1rem;
   box-shadow: var(--shadow);
   input {
      width: 100%;
      background: var(--colors-bg);
      color: var(--colors-text);
      margin-left: 0.5rem;
      border: none;
      outline: none;
      padding:  1rem;
      border-radius: $radius;
   }
}

@media (min-width: 767px) {
   .controlsContainer {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      
      .select {
         width: 258px;
      }
   }
   
   .inputContainer {
      margin-bottom: 0;
      width: 258px;
   }
}
